body{
  background-color:rgba(133, 38, 234, 0.545) ;
  color:aliceblue;
  /* height: 100dvh; */
  width: 100dvw;
}
.ind{
  background-color: rgba(32, 17, 48, 0.545);
  border-radius: 1rem;
  padding: 0 1rem;
  width: 80%;
}
input{
  width: 90%;
}